# requirements.txt
python-dotenv
pysqlite3-binary

# Streamlit
streamlit

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma

# Document processing
pypdf
chromadb
